fieldset {
  padding: 0;
  border: none;
  margin: 0;
}
html.js fieldset.collapsed {
  border: none;
}
html.js fieldset.collapsible .fieldset-legend {
    background-position-x: 0px;
    padding-left: 15px;
}
.fieldset-legend {
  margin-bottom: 15px;
}
.fieldset-title {
  color: black;
}
.fieldset-title:hover, .fieldset-title:focus {
  text-decoration: none;
  color: black;
}
