body {
  border-top: 0;
}

main {
  @include clearfix;

  float: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
  padding-top: 2em;

  @include breakpoint($desktop) {
    max-width: 1080px;
  }
}

.page,
.region-bottom {
  max-width: none;
}

.page-title {
  display: none;
}

#about-page {
  margin-left: 20px;
}

.past-exhibition-title {
  font-size: 1.5em;
}

span.reception-div {
  color: #003f87;
  float: left;
  font-size: 1.1em;
  margin-right: 5px;
}

.reception-date {
  color: #003f87;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.current-exhibition-artists {
  font-size: 1.1em;
  font-weight: bold;
}

.visit-page {
  text-align: center;
}

.visit-table tbody tr td:nth-child(odd) {
  text-align: center;
  width: 15%;

  @include breakpoint($tablet) {
    display: none;
  }

  @include breakpoint($desktop) {
    display: table-cell;
  }
}

.visit-page-img {
  height: auto;
}

tr {
  border-bottom: 0;
}

tr:nth-of-type(odd) {
  background: none;
}

td {
  border-right: 0;
}
