.site-header .site-name {
  background-color: transparent;

  a {
    color: white;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }
}

header[role="banner"] > div {
  background-color: black;
  border-top-color: #0083d6;
  border-top-style: solid;
}
