.site-header {
  @include breakpoint($desktop) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    overflow: hidden;
  }

  .site-banner img {
    display: none;
  }

  .site-name {
    display: table;
    position: relative;
    width: 100%;

    @include breakpoint($desktop) {
      left: 0;
      margin-left: 230px;
      position: absolute;
      top: 0;
      width: auto;
    }

    a {
      display: block;
      line-height: 63px;
      padding-left: 1em;
      white-space: nowrap;

      @include breakpoint($desktop) {
        display: inline-block;
        font-size: 90%;
        margin: 0;
        text-align: center;
      }

      @include breakpoint($desktop-medium) {
        font-size: 120%;
      }
    }
  }
}

.western-header {
  left: 0;
  margin: 0 auto;
  right: 0;

  @include breakpoint($desktop) {
    max-width: 1080px;
  }

  nav {
    @include breakpoint($desktop) {
      float: right;
      position: relative;
      top: 12px;
      z-index: 3;
    }

    @include breakpoint($tablet) {
      float: right;
      position: relative;
      z-index: 3;
    }
  }

  .western-logo {
    @include breakpoint($desktop) {
      float: left;
      margin: 0;
      position: relative;
      top: -6px;
    }

    a {
      @include breakpoint($tablet) {
        background-position: 0% 50%;
        background-size: 80%;
        float: left;
        height: 15rem;
        margin-left: 0%;
        position: relative;
        width: 100%;
        top: -2rem;
      }

      @include breakpoint($desktop) {
        background-position-y: 0%;
        background-size: 100%;
        height: 15rem;
        width: 240px;
      }
    }
  }
}

header[role="banner"] > div {
  border: 0;
  border-top-width: 10px;
  max-height: none;
}
