.main-nav div div .menu {
  width: auto;

  @include breakpoint($desktop) {
    float: right;
  }

  li {
    display: inline-block;
    float: left;
    text-transform: uppercase;

    a {
      line-height: 63px;
      padding: 0 1.25em;

      @include breakpoint(800px) {
        font-size: 12px;
      }

      @include breakpoint(820px) {
        font-size: 13px;
      }

      @include breakpoint(857px) {
        font-size: 14px;
      }

      @include breakpoint(898px) {
        font-size: 14px;
      }

      @include breakpoint(945px) {
        font-size: 15px;
      }
    }
  }
}
