.header-image a {
  display: block;
  font-size: 0;
  line-height: 0;
}

.region-header [id^='block-views-'] {
  margin: 0;
}

.view-current-exhibition-view,
.view-current-exhibition-slideshow {
  $zen-column-count: 2;
  $zen-gutter-width: 0;

  .flexslider {
    @include zen-grid-container();
  }

  .slides > li {
    max-height: 800px;
    position: relative;

    a:focus, a:active {
      outline: 4px dotted $wwu-blue;
      outline-offset: -4px;
    }

    .exhibition-title {
      a:focus {
        outline-color: inherit;
      }
    }
  }

  // The HTML for this class is defined in template preprocess hook
  .exhibition-attributes-wrapper {
    @include zen-grid-item(2, 1);
    background-color: $dark-slideshow-header-background-color;
    bottom: 0;
    position: absolute;
  }

  .exhibition-title-wrapper {
    @include zen-grid-item(1, 1);
  }

  .exhibition-title,
  .exhibition-date {
    color: $dark-slideshow-header-color;
    font-weight: bold;
    line-height: 2rem;
    padding: 16px;
  }

  .exhibition-title {
    font-style: italic;
    text-align: right;

    @include breakpoint($tablet) {
      font-size: 110%;
    }

    @include breakpoint($desktop) {
      font-size: 190%;
    }

    a {
      color: $dark-slideshow-header-color;
    }
  }

  .exhibition-date-wrapper {
    @include zen-grid-item(1, 2);
  }

  .exhibition-date {
    @include breakpoint($tablet) {
      font-size: 100%;
    }

    @include breakpoint($desktop) {
      font-size: 130%;
    }
  }
}
