ul.quicktabs-tabs {
  display: table;
  overflow: hidden;
  padding: 0;
}

ul.quicktabs-tabs li {
  display: block;
  float: left;
  margin-right: .75em;
  padding: 0;
}

ul.quicktabs-tabs li a,
ul.quicktabs-tabs li a:visited {
  background-color: #eee;
  display: block;
  padding: 1em;
}

ul.quicktabs-tabs li.active a,
ul.quicktabs-tabs li.active a:visited {
  background-color: #888;
  color: #fff;
}

ul.quicktabs-tabs li a:hover,
ul.quicktabs-tabs li a:focus,
ul.quicktabs-tabs li a:active,
ul.quicktabs-tabs li.active a:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

.views-responsive-grid .views-column {
  padding: 0;
}
