ul.quicktabs-tabs.quicktabs-style-sky li {
    font-weight:bolder;
}

ul.quicktabs-tabs.quicktabs-style-sky li.active a,
ul.quicktabs-tabs.quicktabs-style-sky li.active a:visited {
    height:2.65em;
    line-height:2.65em;
    min-height: 2.65em; 
    top: 8.5px;
    border-top: 0px;
    border-bottom: 0px;
    font-weight: bolder;
}
ul.quicktabs-tabs.quicktabs-style-sky li a, ul.quicktabs-tabs.quicktabs-style-sky li a:visited{
    min-height: 2.65em;
    line-height: 2.65em;
}
ul.quicktabs-tabs.quicktabs-style-sky li a:hover,
ul.quicktabs-tabs.quicktabs-style-sky li.active a:hover {
    background: #858585 url('images/bg-shade-dark.png') repeat-x bottom left;
    border-color: #858585;
}