.exhibition-node-title {
  margin-bottom: 30px;
}

.exhibition-node-date {
  color: #003f87;
  font-size: 115%;
  margin-bottom: 15px;
}

.exhibition-node-reception-date {
  color: #003f87;
  font-size: 110%;
  margin-bottom: 20px;
}

.social-media-feed-inner-wrapper {
    min-height: 225px;
    margin-top: 80px;
}

#block-facebook-pull-facebook-pull-default {
    overflow: hidden;
}

.western-slider-control {
    @include hide-text;
    z-index: 1;
    position: absolute;
    top: -68px;
    width: 48px;
    height: 48px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: url('../images/slider-controls.png');
    background-repeat: no-repeat;
}

.western-slider-control-next {
    right: 0;
    background-position: right center;
}

.western-slider-control-next:hover,
.western-slider-control-next:focus {
    background-position: right bottom;
}

.western-slider-control-next:disabled {
    background-position: right bottom;
}

.western-slider-control-prev {
    left: 0;
    background-position: left center;
}

.western-slider-control-prev:hover,
.western-slider-control-prev:focus {
    background-position: left bottom;
}

.western-slider-control-prev:disabled {
    background-position: left bottom;
}
