.flexslider {
  border: 0;
  border-radius: 0;
  margin: 0;
  position: relative;
}

.flexslider .slides {
  overflow: hidden;
  z-index: 0;
  zoom: 1;
}

.flex-control-nav{
  bottom: 60px;
  z-index: 11;
}
