#block-views-future-exhibition-view-block {
  margin: 0;
}

.view-future-exhibition-view {
  $zen-column-count: 3;

  .view-content {
    @include zen-grid-container();

    @include breakpoint($desktop) {
      margin: 0 auto;
      max-width: 1080px;
    }
  }

  .views-row-1 {
    @include breakpoint($desktop) {
      @include zen-grid-item(1, 1);
    }
  }

  .views-row-2 {
    @include breakpoint($desktop) {
      @include zen-grid-item(1, 2);
    }
  }

  .views-row-3 {
    @include breakpoint($desktop) {
      @include zen-grid-item(1, 3);
    }
  }

  .views-row {
    border-bottom: 1px solid white;
    padding: 1em 0;

    &:last-child {
      border: 0;
    }

    @include breakpoint($desktop) {
      border: 0;
    }
  }
}

.future-exhibition-title {
  color: white;
  font-style: italic;
  margin-bottom: 0.25em;
  margin-top: 0;
}

.future-exhibition-title a {
  color: white;
}

.future-exhibition-date {
  color: white;
  position: relative;

  @include breakpoint($tablet) {
    display: none;
  }

  @include breakpoint($desktop) {
    display: block;
  }
}
