// Rearranging the main content and side bar on mobile view
  .region-header, .main-nav, .content {
    display: flex;
    flex-direction: column;
  }

  .wwu-25-percent-left-column {
    order: 2;
  }

  .wwu-75-percent-right-column {
    order: 1;
  }

@include breakpoint (min-width $desktop) {
  .region-header, .main-nav, .content {
    display: inherit;
  }
}
