.outdoor-sculpture-header-image {
  max-height: 700px;
  overflow: hidden;
  width: 100% !important;
}

#outdoor-sculpture-title {
  color: #003f87;
  font-size: 28px;
}

.outdoor-sculpture-info {
  color: #003f87;
  font-size: 1.2em;
}

#outdoor-sculpture-photo-credit {
  color: #003f87;
}

.outdoor-sculpture-right .field .field-label {
  font-weight: normal;
}
