.visit-hours p  {
  background-color: #007ac8;
  color: white;
  padding-top: 10px;
  text-align: center;

  @include breakpoint($visitHoursSmall) {
    font-size: 1em;
    height: 80px;
  }

  @include breakpoint($visitHoursMedium) {
    font-size: 1.1em;
    height: 55px;
  }

  @include breakpoint($visitHoursLarge) {
    font-size: 1.1em;
    height: 33px;
  }
}

.visit-header-image {
  max-height: 590px;
  overflow: hidden;
  width: 100% !important;

  @include breakpoint($tablet) {
    margin-bottom: -23px;
  }

  @include breakpoint($desktop-large) {
    margin-bottom: 0;
  }
}
