.site-header {
  float: none;
}

.site-name {
  bottom: initial;
  box-sizing: border-box;
  font-size: initial;
  line-height: normal;
  max-width: initial;
  min-height: initial;
  min-width: initial;
  padding: 0;
  position: static;
  right: initial;
  text-align: initial;
  text-transform: initial;
  z-index: initial;
}

.site-slogan {
  box-sizing: border-box;
}

.main-nav {
  float: none;
  padding: 0;

  div div .menu li {
    padding: 0;
    text-transform: initial;
  }
}

main {
  margin-top: 0;
  padding: 0;

  .page-title {
    border: 0;
  }
}

.page-title {
  margin: 0;
}

h1 {
  margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.content {
  blockquote {
    max-width: initial;
    min-width: initial;
  }
}

.wwu-25-percent-right-column {
  padding-right: 0;
}
