$min: 0px;
$tablet: 321px;
$desktop: 801px;
$desktop-medium: 1000px;
$desktop-large: 1251px;

$visitHoursSmall: 321px 419px;
$visitHoursMedium: 420px 850px;
$visitHoursLarge: 851px;

$currentExhibitionTitle: 890px;

$visitHeaderImage: 1235px;

$outdoorSculpturePage: 1110px;
