// -----------------------------------------------------------------------------
//
// AUXILLIARY COLORS
//
// -----------------------------------------------------------------------------

$light-gray: #ddd;
$transparent-white: rgba(255, 255, 255, .5);
$wwu-light-blue-lighter: desaturate(lighten($wwu-light-blue, 35), 30);

// -----------------------------------------------------------------------------
//
// HEADER SLIDESHOW COLORS
//
// -----------------------------------------------------------------------------

// DARK

$dark-slideshow-header-color: #fff;
$dark-slideshow-header-background-color: rgba(0, 0, 0, .5);
